*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 8rem;
}

header{
    background-color: rgb(117, 172, 221);
    color: aliceblue;
    font-weight: bolder;
    letter-spacing: 2px;
    width: unset;
}

.quote-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border-radius: 6px;
    padding: 1.2rem;
}

.socials {
    display: flex;
    align-self: flex-start;
}

#fetchQuotesBtn {
    margin-top: 10px;
    align-self: flex-end;
}

